{% extends "layout.html" %}
{% block title %}None found{% endblock %}

{% block content %}
    <h2>Nothing found</h2>
    <p>We wanted to find <span class='query'>{{title}} </span>   	{% if includeCheckedOut != 'yes' %} 
    	but everything's checked out :( </p>
  			<br>

  	<p>Do you want to see the checked out copies?</p><a href = "{{url_for('map', bookID=bookID, title=title, includeCheckedOut='yes')}}"> Click here for the map of all the checked out things!</a>
  	<br>

  	{% else %}
  	but we couldn't find anything :( </p>
  	<br>
  	{% endif %}
  	<p>Wanna find something you can read now?
    	</p><a href="{{url_for('index')}}">Click here to search again!</a> 
{% endblock %}