<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map My Book</title>
</head>
<body>
<div class="content">
    <h1>Map My Book</h1>
    <p>Please input a title, author, or both</p>
    <form name="input" action="{{url_for('input', title=title, author=author)}}" method="GET">
    Title: <input type="text" name="title">
    Author: <input type="text" name="author"> 
    <br>
    <input type="checkbox" name="includeCheckedOut" value="yes">Include checked out copies<br>
    <input type="submit" value="Show me the books!">
    </form>
</div>
</body>
</html>